{# Second Page #}
<article class="container mx-auto py-8 space-y-6 text-center">
	<header class="space-y-2">
		<img src="/{{directory}}/src/img/webpack.png" alt="Webpack logo" title="Webpack logo" class="mx-auto w-40"/>
		<h1 class="text-2xl tracking-tight xl:text-4xl font-black leading-none font-headline uppercase">
			Welcome to Serempre's
			<br/>
			Front-end framework Page2
		</h1>
		<p>
			For a guide and recipes on how to configure / customize this project,
			<br/>
			check out the
			<a href="https://gitlab.com/felipecastillo/frontend-template" target="_blank" class="underline text-primary hover:text-primary-600">project documentation</a>.
		</p>
	</header>
	<section>
        <a href="/">Go to Home Page</a>
    </section>
	<section class="space-y-2">
		<h3 class="text-lg font-black font-headline uppercase">
			Essential Links
		</h3>
		<ul class="flex flex-wrap justify-center space-x-4">
			<li>
				<a href="https://github.com/modularscale/modularscale-sass" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">Modular Scale</a>
			</li>
			<li>
				<a href="https://tailwindcss.com" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">Tailwind CSS</a>
			</li>
			<li>
				<a href="https://getbootstrap.com/docs/4.5/getting-started/theming" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">Theming Bootstrap</a>
			</li>
		</ul>
	</section>
	<section class="space-y-2">
		<h3 class="text-lg font-black font-headline uppercase">Ecosystem</h3>
		<ul class="flex flex-wrap justify-center space-x-4">
			<li>
				<a href="http://getbem.com" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">BEM</a>
			</li>
			<li>
				<a href="http://smacss.com" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">SMACSS</a>
			</li>
		</ul>
	</section>
	<section class="space-y-2">
		<h3 class="text-lg font-black font-headline uppercase">
			Installed plugins
		</h3>
		<ul class="flex flex-wrap justify-center space-x-4">
			<li>
				<a href="https://webpack.js.org" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">
					Webpack
				</a>
			</li>
			<li>
				<a href="https://babeljs.io" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">
					Babel
				</a>
			</li>
			<li>
				<a href="https://prettier.io" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">
					Prettier
				</a>
			</li>
			<li>
				<a href="https://postcss.org" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">
					PostCSS
				</a>
			</li>
			<li>
				<a href="https://eslint.org" target="_blank" rel="noopener" class="underline text-primary hover:text-primary-600">
					ESLint
				</a>
			</li>
		</ul>
	</section>
</article>
