<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K35WQJG');</script>
<!-- End Google Tag Manager -->


{% include "@co_practice/components/header.html.twig" %}

{# <section class="featured" id="featured" role="complementary">
   {{ page.featured }}
</section> #}


<section class="main" id="main">
   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>
   <aside class="right--sidebar" id="sidebar" role="complementary">
     {{ page.right_sidebar }}
   </aside>
</section>

{% include "@co_practice/components/footer.html.twig" %}



